-i http://mirrors.aliyun.com/pypi/simple/  --trusted-host mirrors.aliyun.com
Keras
Keras-Applications
Keras-Preprocessing
absl-py
appdirs
astor
bs4
fake-useragent
google-pasta
h5py
itsdangerous
lightpush
matplotlib
ntplib
numpy
opencv-python
opt-einsum
parse
protobuf
pyparsing
pyppeteer
pyquery
python-dateutil
redis
requests
requests-html
scikit-learn
scipy
selenium
six
sklearn
soupsieve
tensorboard
tensorflow
tensorflow-estimator
termcolor
tqdm
urllib3
wheel